/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

html{
    background-color:  #21252A !important; 
    font-family: "Work Sans";
    color: #e2e2e2 !important;
}

body {
    margin: 30px !important;
    color: #e2e2e2 !important;
    background-color:  #21252A !important; 

}
body .navbar{
    color: #e73737 !important;
    margin: -30px;
    margin-bottom: 30px;
    text-decoration: underline;
    background-color:  #464f58 !important; 
}
body span.navbar-brand {
    color: #e2e2e2 !important;
}
body .home{
    margin-right: 85%;
    background-color: none;
    color: #f3f1f1 !important;
    

}
body .card{
    margin: 30px;
    background-color:  #464f58 ; 
    height: 120px;
}

.cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
table{
    width: 400px;
}